- include_stylesheet 'admin/tags'
= render_region :top 

#tags_table.outset
  %table{ :class => "index", :cellpadding => "0", :cellspacing => "0", :border => "0"}
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.title_header do
            %th.tag-title= t('title')
          - thead.description_header do
            %th.tag-description= t('description')
          - thead.usage_header do
            %th.tag-usage= t('taggable.columns.usage')
          - thead.modify_header do
            %th.modify{:colspan =>"2"}= t('modify')

    %tbody
      - for tag in @tags 
        %tr.node.level-1
          - render_region :tbody do |tbody|
            - tbody.title_cell do
              %td.tag-title
                = link_to image('tag', :alt => ''), edit_admin_tag_url(:id => tag.id) 
                = link_to tag.title, edit_admin_tag_url(:id => tag.id) 

            - tbody.description_cell do
              %td.tag-description
                = tag.description
                
            - tbody.usage_cell do
              %td.tag-usage
                - if tag.use_count.to_i > 0
                  = tag.use_count
                  -#= pluralize(tag.use_count.to_i, 'item')
                - else
                  \-

            - tbody.modify_cell do
              %td.remove
                = link_to t('remove'), admin_tag_url(tag), :method => 'delete'
 
- render_region :bottom do |bottom|
  - bottom.new_button do
    #actions
      %ul
        %li= link_to image('plus') + " " + t('taggable.links.new_tag'), new_admin_tag_url
        -#%li= link_to t('taggable.links.tag_list'), admin_tags_url, :class => 'minor'
        %li= link_to t('taggable.links.tag_cloud'), cloud_admin_tags_url, :class => 'minor'
   
-#%script{ :type => "text/javascript"}
  // <! [CDATA[
  new RuledTable('tags')
  //]